<div class="vacancy-modal-wrapper" *transloco="let t">

  <div class="vacancy-modal-background" appClickOutside (clickOutside)="onCancel()">

    <span class="vacancy-modal-title">{{ t('vacancy-mode') }}</span>

    <div class="vacancy-time-selector-wrapper">

      <mat-form-field class="vacancy-date-picker">
        <input matInput [(ngModel)]="targetDate" [min]="tomorrow" [max]="maxDate" [matDatepicker]="picker" >
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <span class="vacancy-time-selector-label">{{ t('vacancy-until') }}</span>
      <span class="vacancy-time-selector-value" (click)="picker.open()">{{targetDate.toLocaleString(DateTime.DATE_MED, { locale: locale.getCurrentLocale() })}}</span>
      <span class="vacancy-time-selector-recap">{{ t('away-for') }} {{Math.round(targetDate.diff(today).as('days'))}} {{ t('day') }}{{Math.floor(targetDate.diff(today).as('days')) > 1 ? 's' : ''}}</span>
    </div>

    <div class="vacancy-modal-actions">

      <div class="vacancy-modal-cancel">
        <span class="vacancy-modal-cancel-label" (click)="onCancel()">{{ t('cancel') }}</span>
      </div>

      <div class="vacancy-modal-button">
        <span class="vacancy-modal-button-label" (click)="onConfirm()">{{ t('confirm') }}</span>
      </div>

    </div>

  </div>

</div>
