@import "@fontsource/fira-mono/400.css";

.fullpage-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main-content-wrapper {
  width: 35%;
  min-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 4rem;
  position: relative;
  box-sizing: border-box;
}

.notifications-wrapper {
  position: absolute;
  box-sizing: border-box;
  width: calc(100% - 8rem);
  height: 100%;
  z-index: 1;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: -4rem;
  padding: 1rem;
  align-items: center;
  row-gap: 0.5rem;
}

.notification {
  width: 80%;
}

.main-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.devices-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 0.5rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-time {
  font-size: 1.6rem;
  font-weight: 200;
}

.main-date {
  font-weight: 200;
  opacity: 0.5;
}

.main-date-time-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  row-gap: 0.25rem;
}

.main-weather-wrapper {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.main-weather-image {
  height: 2.5rem;
}

.main-weather-temperature {
  font-size: 2rem;
  font-weight: 200;
  opacity: 0.8;
}
