<div class="history-graphs-wrapper" *transloco="let t">

  <div class="history-graphs-title-row">

    <span class="history-graphs-title">
      {{ t('history-for') }}
      <span class="history-graphs-title-highlight">{{deviceName}}</span>
    </span>

    <div class="history-graph-filter-bar">
      <div class="history-graph-filter-button" [ngClass]="{ enabled: selectedInterval == HistoryInterval.ALL }" (click)="onSetInterval(HistoryInterval.ALL)">
        <span class="history-interval-label">{{ t('all') }}</span>
      </div>
      <div class="history-graph-filter-button" [ngClass]="{ enabled: selectedInterval == HistoryInterval.ONE_YEAR }" (click)="onSetInterval(HistoryInterval.ONE_YEAR)">
        <span class="history-interval-label">{{ t('1y') }}</span>
      </div>
      <div class="history-graph-filter-button" [ngClass]="{ enabled: selectedInterval == HistoryInterval.SIX_MONTHS }" (click)="onSetInterval(HistoryInterval.SIX_MONTHS)">
        <span class="history-interval-label">{{ t('6m') }}</span>
      </div>
      <div class="history-graph-filter-button" [ngClass]="{ enabled: selectedInterval == HistoryInterval.THREE_MONTHS }" (click)="onSetInterval(HistoryInterval.THREE_MONTHS)">
        <span class="history-interval-label">{{ t('3m') }}</span>
      </div>
      <div class="history-graph-filter-button" [ngClass]="{ enabled: selectedInterval == HistoryInterval.ONE_MONTH }" (click)="onSetInterval(HistoryInterval.ONE_MONTH)">
        <span class="history-interval-label">{{ t('1m') }}</span>
      </div>
      <div class="history-graph-filter-button" [ngClass]="{ enabled: selectedInterval == HistoryInterval.ONE_WEEK }" (click)="onSetInterval(HistoryInterval.ONE_WEEK)">
        <span class="history-interval-label">{{ t('1w') }}</span>
      </div>
      <div class="history-graph-filter-button" [ngClass]="{ enabled: selectedInterval == HistoryInterval.THREE_DAYS }" (click)="onSetInterval(HistoryInterval.THREE_DAYS)">
        <span class="history-interval-label">{{ t('3d') }}</span>
      </div>
      <div class="history-graph-filter-button" [ngClass]="{ enabled: selectedInterval == HistoryInterval.ONE_DAY }" (click)="onSetInterval(HistoryInterval.ONE_DAY)">
        <span class="history-interval-label">{{ t('1d') }}</span>
      </div>
      <div class="history-graph-filter-button" [ngClass]="{ enabled: selectedInterval == HistoryInterval.TWELVE_HOURS }" (click)="onSetInterval(HistoryInterval.TWELVE_HOURS)">
        <span class="history-interval-label">{{ t('12h') }}</span>
      </div>
      <div class="history-graph-filter-button" [ngClass]="{ enabled: selectedInterval == HistoryInterval.SIX_HOURS }" (click)="onSetInterval(HistoryInterval.SIX_HOURS)">
        <span class="history-interval-label">{{ t('6h') }}</span>
      </div>
      <div class="history-graph-filter-button last" [ngClass]="{ enabled: selectedInterval == HistoryInterval.ONE_HOUR }" (click)="onSetInterval(HistoryInterval.ONE_HOUR)">
        <span class="history-interval-label">{{ t('1h') }}</span>
      </div>
    </div>

  </div>

  <div class="history-graph-wrapper">
    <span class="history-graph-title">{{ t('temperature') }}</span>

    @if (temperatureData.length > 0) {
      <div class="ngx-chart-wrapper">
        <ngx-charts-line-chart
          [xAxis]="true"
          [yAxis]="true"
          [yScaleMin]="0"
          [yScaleMax]="40"
          [scheme]="colorScheme"
          [yAxisTickFormatting]="formatTemperature"
          [xAxisTickFormatting]="dateFormatFunction"
          [results]="temperatureChartData">

          <ng-template #tooltipTemplate let-model="model">
            <div class="series-tooltip-wrapper">
              <div class="series-tooltip-top-row">
                <span class="series-tooltip-value">{{model.value}}°C</span>
              </div>
              <div class="series-tooltip-bottom-row">
                <span class="series-tooltip-date">{{DateTime.fromJSDate(model.name).toLocaleString(DateTime.DATETIME_MED, { locale: locale.getCurrentLocale() })}}</span>
              </div>
            </div>
          </ng-template>

          <ng-template #seriesTooltipTemplate let-model="model">
            <div class="series-tooltip-wrapper">
              <div class="series-tooltip-top-row">
                <span class="series-tooltip-value">{{model[0].value}}°C</span>
              </div>
              <div class="series-tooltip-bottom-row">
                <span class="series-tooltip-date">{{DateTime.fromJSDate(model[0].name).toLocaleString(DateTime.DATETIME_MED, { locale: locale.getCurrentLocale() })}}</span>
              </div>
            </div>
          </ng-template>

        </ngx-charts-line-chart>
      </div>
    }
  </div>

  <div class="history-graph-wrapper">
    <span class="history-graph-title">{{ t('humidity') }}</span>

    @if (humidityData.length > 0) {
      <div class="ngx-chart-wrapper">
        <ngx-charts-line-chart
          [xAxis]="true"
          [yAxis]="true"
          [yScaleMin]="0"
          [yScaleMax]="100"
          [scheme]="colorScheme"
          [yAxisTickFormatting]="formatHumidity"
          [xAxisTickFormatting]="dateFormatFunction"
          [results]="humidityChartData">

          <ng-template #tooltipTemplate let-model="model">
            <div class="series-tooltip-wrapper">
              <div class="series-tooltip-top-row">
                <span class="series-tooltip-value">{{model.value}}%</span>
              </div>
              <div class="series-tooltip-bottom-row">
                <span class="series-tooltip-date">{{DateTime.fromJSDate(model.name).toLocaleString(DateTime.DATETIME_MED, { locale: locale.getCurrentLocale() })}}</span>
              </div>
            </div>
          </ng-template>

          <ng-template #seriesTooltipTemplate let-model="model">
            <div class="series-tooltip-wrapper">
              <div class="series-tooltip-top-row">
                <span class="series-tooltip-value">{{model[0].value}}%</span>
              </div>
              <div class="series-tooltip-bottom-row">
                <span class="series-tooltip-date">{{DateTime.fromJSDate(model[0].name).toLocaleString(DateTime.DATETIME_MED, { locale: locale.getCurrentLocale() })}}</span>
              </div>
            </div>
          </ng-template>

        </ngx-charts-line-chart>
      </div>
    }
  </div>

  <div class="history-graphs-actions">

    <div class="history-graphs-cancel">
      <span class="history-graphs-cancel-label" (click)="onCloseHistory()">{{ t('close-history') }}</span>
    </div>

  </div>

</div>
