<div class="device-wrapper" *transloco="let t">

  @if (!device.isOnline) {
    <div class="device-disconnected-overlay">
      <ng-icon class="device-disconnected-icon" name="matCloudOffOutline"></ng-icon>
      <span class="device-disconnected-text">{{ t('device-offline') }}</span>
    </div>
  }

  <img class="device-picture" src="img/devices/heatzy-pro.png">

  <div class="device-info-column">

    <div class="device-title-row">
      @if (deviceInfo?.isLocked) {
        <ng-icon class="device-locked-icon" @fade name="matLockOutline"></ng-icon>
      }

      @if (editingName) {
        <app-text-input class="device-readable-name-edit" (confirm)="onSaveDeviceName()" [(value)]="device.readableName"></app-text-input>
      } @else {
        <span class="device-readable-name" (click)="onClickDeviceName()">{{ device.readableName }}</span>
      }
      <span class="device-type">{{ productNameToReadableName(device.productName) }}</span>

      @if (deviceInfo?.isHeating) {
        <div class="device-heating-indicator" @fade></div>
      }
    </div>

    <div class="device-current-metrics">

      <div class="device-current-temperature">
        <span class="device-current-temperature-title">{{ t('temperature') }}</span>
        <div class="device-current-temperature-row">
          @if (!deviceInfo) {
            <app-skeleton-loader class="device-current-temperature-placeholder" [width]="50" [height]="35"></app-skeleton-loader>
          } @else {
            <span class="device-current-temperature-value">{{deviceInfo?.currentTemperature}}</span>
          }
          <span class="device-current-temperature-unit">°C</span>
        </div>
      </div>

      <div class="device-current-humidity">
        <span class="device-current-humidity-title">{{ t('humidity') }}</span>
        <div class="device-current-humidity-row">
          @if (!deviceInfo) {
            <app-skeleton-loader class="device-current-temperature-placeholder" [width]="50" [height]="35"></app-skeleton-loader>
          } @else {
            <span class="device-current-humidity-value">{{deviceInfo?.currentHumidity}}</span>
          }
          <span class="device-current-humidity-unit">%</span>
        </div>
      </div>

    </div>

  </div>

  <div class="device-controls-column">

    <div class="heating-mode-controls-bar">

      @if (extraModes) {
        <div class="heating-mode-controls-extra-modes-overlay" appClickOutside (clickOutside)="onCloseExtraModes()">
          <div class="heating-mode-controls-extra-mode" (click)="onSelectHeatingMode(HeatingMode.Comfort1)">
            <ng-icon class="heating-mode-controls-extra-mode-icon" name="matWbSunnyOutline"></ng-icon>
            <span class="heating-mode-controls-extra-mode-label">{{ t('comfort') }} -1</span>
          </div>
          <div class="heating-mode-controls-extra-mode"  (click)="onSelectHeatingMode(HeatingMode.Comfort2)">
            <ng-icon class="heating-mode-controls-extra-mode-icon" name="matWbSunnyOutline"></ng-icon>
            <span class="heating-mode-controls-extra-mode-label">{{ t('comfort') }} -2</span>
          </div>
        </div>
      }

      @if (deviceInfo?.specialMode == SpecialMode.MotionDetection) {
        <div class="heating-mode-controls-button first enabled" (click)="onDisableMotionDetection()">
          <ng-icon class="heating-mode-controls-icon" name="matPersonOutline"></ng-icon>
          <span class="special-mode-label">{{ t('motion') }}</span>
        </div>
      } @else if (deviceInfo?.specialMode == SpecialMode.Boost) {
        <div class="heating-mode-controls-button first enabled" (click)="onDisableBoost()">
          <ng-icon class="heating-mode-controls-icon" name="matLocalFireDepartmentOutline"></ng-icon>
          <span class="special-mode-label">{{ t('boost') }}</span>
        </div>
      } @else if (deviceInfo?.specialMode == SpecialMode.Vacancy) {
        <div class="heating-mode-controls-button first enabled" (click)="onDisableVacancy()">
          <ng-icon class="heating-mode-controls-icon" name="matWorkOutlineOutline"></ng-icon>
          <span class="special-mode-label">{{ t('vacancy') }}</span>
        </div>
      } @else {
        <div class="heating-mode-controls-button first" (click)="onSelectHeatingMode(HeatingMode.Off)" [ngClass]="{ enabled: selectedMode == HeatingMode.Off, disabled: deviceInfo?.specialMode != SpecialMode.None }">
          <ng-icon class="heating-mode-controls-icon" name="matHideSourceOutline"></ng-icon>
        </div>
      }

      <div class="heating-mode-controls-button" (click)="onSelectHeatingMode(HeatingMode.Comfort)" [ngClass]="{ enabled: selectedMode == HeatingMode.Comfort || selectedMode == HeatingMode.Comfort1 || selectedMode == HeatingMode.Comfort2, disabled: deviceInfo?.specialMode != SpecialMode.None }">
        <ng-icon class="heating-mode-controls-icon" name="matWbSunnyOutline"></ng-icon>
        @if (selectedMode == HeatingMode.Comfort1) {
          <span class="heating-mode-controls-extra-label">-1</span>
        }
        @if (selectedMode == HeatingMode.Comfort2) {
          <span class="heating-mode-controls-extra-label">-2</span>
        }
      </div>
      <div class="heating-mode-controls-button" (click)="onSelectHeatingMode(HeatingMode.Eco)" [ngClass]="{ enabled: selectedMode == HeatingMode.Eco, disabled: deviceInfo?.specialMode != SpecialMode.None }">
        <ng-icon class="heating-mode-controls-icon" name="matBedtimeOutline"></ng-icon>
      </div>
      <div class="heating-mode-controls-button" (click)="onSelectHeatingMode(HeatingMode.FrostProtection)" [ngClass]="{ enabled: selectedMode == HeatingMode.FrostProtection, disabled: deviceInfo?.specialMode != SpecialMode.None }">
        <ng-icon class="heating-mode-controls-icon" name="matAcUnitOutline"></ng-icon>
      </div>
      <div class="heating-mode-controls-button last" (click)="onToggleContextMenu()">
        <ng-icon class="heating-mode-controls-icon" name="matAddOutline"></ng-icon>
      </div>

      @if (contextMenu) {
        <div @fade class="heating-mode-controls-extras"  appClickOutside (clickOutside)="onCloseContextMenu()">

          <div class="heating-mode-extra-item" (click)="onOpenSchedulingUtility()">
            <ng-icon class="heating-mode-extra-item-icon" name="matAlarmOutline"></ng-icon>
            <span class="heating-mode-extra-item-label">{{ t('heating-schedule') }}</span>
          </div>

          <div class="heating-mode-extra-item" (click)="onEnableMotionDetection()">
            <ng-icon class="heating-mode-extra-item-icon" name="matPersonOutline"></ng-icon>
            <span class="heating-mode-extra-item-label">{{ t('motion-detection') }}</span>
          </div>

          <div class="heating-mode-extra-item" (click)="onOpenVacancyModal()">
            <ng-icon class="heating-mode-extra-item-icon" name="matWorkOutlineOutline"></ng-icon>
            <span class="heating-mode-extra-item-label">{{ t('vacancy') }}</span>
          </div>

          <div class="heating-mode-extra-item" (click)="onOpenHistory()">
            <ng-icon class="heating-mode-extra-item-icon" name="matHistoryOutline"></ng-icon>
            <span class="heating-mode-extra-item-label">{{ t('history') }}</span>
          </div>

          <div class="heating-mode-extra-item" (click)="onOpenBoostModal()">
            <ng-icon class="heating-mode-extra-item-icon" name="matLocalFireDepartmentOutline"></ng-icon>
            <span class="heating-mode-extra-item-label">{{ t('boost') }}</span>
          </div>

          <div class="heating-mode-extra-item" (click)="onToggleLockMode()">
            <ng-icon class="heating-mode-extra-item-icon" [name]="deviceInfo?.isLocked ? 'matLockOpenOutline' : 'matLockOutline'"></ng-icon>
            <span class="heating-mode-extra-item-label">{{ deviceInfo?.isLocked ? t('unlock') : t('lock') }}</span>
          </div>

        </div>
      }

    </div>

    <div class="target-temperatures-wrapper">
      <div class="target-temperature-row">
        <span class="target-temperature-label">{{ t('comfort') }}:</span>
        @if (!deviceInfo) {
          <app-skeleton-loader [width]="20" [height]="15"></app-skeleton-loader>
        } @else {
          <span class="target-temperature-value" (click)="onOpenComfortTemperatureModal()">{{deviceInfo?.comfortTargetTemperature}}°C</span>
        }
      </div>
      <div class="target-temperature-row">
        <span class="target-temperature-label">{{ t('eco') }}:</span>
        @if (!deviceInfo) {
          <app-skeleton-loader [width]="20" [height]="15"></app-skeleton-loader>
        } @else {
          <span class="target-temperature-value" (click)="onOpenEcoTemperatureModal()">{{deviceInfo?.ecoTargetTemperature}}°C</span>
        }
      </div>
    </div>

  </div>

</div>

@if (schedulingUtility) {
  <app-heating-schedule @fade [deviceSchedule]="deviceInfo?.schedule!" [deviceName]="device.readableName" [scheduleMode]="deviceInfo!.isUsingTimer" [deviceId]="device.deviceId" (close)="onCloseSchedulingUtility()"></app-heating-schedule>
}

@if (history) {
  <app-history-graphs @fade [externalData]="externalData" [temperatureData]="temperatureData" [deviceName]="device.readableName" [humidityData]="humidityData" (intervalChange)="onHistoryIntervalChange($event)" (close)="onCloseHistory()"></app-history-graphs>
}
