@import "@fontsource/fira-mono/400.css";

@media (max-width: 768px) {

  .main-content-wrapper {
    padding: 1rem;
    width: 100%;
  }

  .main-title {
    font-size: 1.3rem;
  }

  .main-date-time-wrapper {
    margin-bottom: 1rem;
  }

  .notifications-wrapper {
    width: calc(100% - 2rem);
  }

  .notification {
    width: 100%;
  }

  .watermark {
    margin-right: 1rem;
    margin-bottom: 2rem;
  }

  .bottom-left-wrapper {
    margin-left: 1rem;
    margin-bottom: 2rem;
  }

  .devices-scrollbox {
    height: calc(100% - 12rem);
  }

}

@media (min-width: 769px) {

  .main-content-wrapper {
    padding: 4rem;
    width: 35%;
    min-width: 800px;
  }

  .main-title {
    font-size: 2rem;
  }

  .main-date-time-wrapper {
    margin-bottom: 2rem;
  }

  .notifications-wrapper {
    width: calc(100% - 8rem);
    padding: 1rem;
  }

  .notification {
    width: 80%;
  }

  .watermark {
    margin-right: 4rem;
    margin-bottom: 1rem;
  }

  .bottom-left-wrapper {
    margin-left: 4rem;
    margin-bottom: 1rem;
  }

  .devices-scrollbox {
    height: 100%;
  }

}

.fullpage-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  box-sizing: border-box;
}

.notifications-wrapper {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  z-index: 5;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: -4rem;
  align-items: center;
  row-gap: 0.5rem;
}

.main-title {
  margin-bottom: 2rem;
}

.devices-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 0.5rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.main-time {
  font-size: 1.6rem;
  font-weight: 200;
}

.main-date {
  font-weight: 200;
  opacity: 0.5;
}

.main-date-time-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.main-weather-wrapper {
  display: flex;
  column-gap: 0.5rem;
}

.main-weather-image {
  height: 2.5rem;
}

.main-weather-temperature {
  font-size: 2rem;
  font-weight: 200;
  opacity: 0.8;
}

.watermark {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  font-size: 0.8rem;
  user-select: none;
}

.watermark-heart {
  color: orange;
}

.watermark-link {
  text-decoration: underline;
  color: white;
  transition: 0.2s;
}

.watermark-link:hover {
  color: orange;
}

.bottom-left-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  column-gap: 2rem;
  align-items: center;
}

.language-picker {
  cursor: pointer;
}

.language-picker-current-language {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 0.8rem;
}

.language-picker-current-language:hover .language-picker-label {
  color: orange;
}

.language-picker-flag {
  height: 0.75rem;
}

.language-picker-label {
  margin-top: 2px;
  opacity: 0.75;
  transition: 0.2s;
}

.language-picker-menu {
  position: absolute;
  background-color: #232323;
  bottom: 100%;
  width: auto;
  margin-bottom: 0.5rem;
  z-index: 1;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 15px rgba(black, 0.5);
  border: 1px solid #333333;
}

.language-picker-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  column-gap: 0.5rem;
  cursor: pointer;
}

.language-picker-item:hover .language-picker-item-label {
  color: orange;
}

.language-picker-item-flag {
  height: 0.5rem;
}

.language-picker-item-label {
  opacity: 0.4;
  transition: 0.2s;
  font-size: 0.8rem;
}

.rickroll {
  position: absolute;
  width: 25%;
  left: 50%;
  top: 0;
}

.help-link {
  opacity: 0.6;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  transition: 0.2s;
}

.help-link:hover {
  color: orange;
}
