<div class="fullpage-wrapper" *transloco="let t">

  <div class="main-content-wrapper">

    <div class="main-header">

      <div class="main-date-time-wrapper">
        <span class="main-time">{{ (time.getTime() | async)!.toLocaleString(DateTime.TIME_SIMPLE, { locale: locale.getCurrentLocale() }) }}</span>
        <span class="main-date">{{ (time.getTime() | async)!.toLocaleString(DateTime.DATE_FULL, { locale: locale.getCurrentLocale() }) }}</span>
      </div>

      @if ((weather.getWeather() | async)) {
        <div class="main-weather-wrapper">
          <img class="main-weather-image" [src]="wmo.getIconForWmo((weather.getWeather() | async)!.wmo)">
          <span class="main-weather-temperature">{{(weather.getWeather() | async)!.temperature | number : '1.0-1'}}°C</span>
        </div>
      }
    </div>

    <div class="main-title-wrapper">
      <ng-icon name="matArrowBackIosOutline" class="main-back-arrow" [routerLink]="''"></ng-icon>
      <span class="main-title">
      {{ t('knowledge-base-title') }}
    </span>
    </div>


    <ng-scrollbar [orientation]="'vertical'" class="guide-scrollbox">

      <div class="guide-items-wrapper">

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('global-interface')">
            <span class="guide-item-title-label">{{t('docs-global-interface-title')}}</span>
            <ng-icon [name]="selectedCategory == 'global-interface' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'global-interface') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-global-interface-title')}}</span>
              <img src="/img/guide/global-overview.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-global-interface-1')}}<br><br>
                - {{t('docs-global-interface-2')}} <b>{{t('docs-global-interface-3')}}</b><br>
                - {{t('docs-global-interface-4')}}<br>
                - {{t('docs-global-interface-5')}}
              </span>
            </div>
          }

        </div>

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('target-temperatures')">
            <span class="guide-item-title-label">{{t('docs-target-temperatures-title')}}<br></span>
            <ng-icon [name]="selectedCategory == 'target-temperatures' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'target-temperatures') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-target-temperatures-title')}}</span>
              <img src="/img/guide/target-temperatures-1.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-target-temperatures-1')}}
              </span>
              <img src="/img/guide/target-temperatures-2.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-target-temperatures-2')}}
              </span>
            </div>
          }

        </div>

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('rename-device')">
            <span class="guide-item-title-label">{{t('docs-rename-device-title')}}</span>
            <ng-icon [name]="selectedCategory == 'rename-device' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'rename-device') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-rename-device-title')}}</span>
              <img src="/img/guide/rename-device.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-rename-device-1')}}<br>
              </span>
            </div>
          }

        </div>

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('heating-status')">
            <span class="guide-item-title-label">{{t('docs-heating-status-title')}}</span>
            <ng-icon [name]="selectedCategory == 'heating-status' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'heating-status') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-heating-status-title')}}</span>
              <img src="/img/guide/heating-status.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-heating-status-1')}}<br>
                {{t('docs-heating-status-2')}}
              </span>
            </div>
          }

        </div>

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('manual-heating-modes')">
            <span class="guide-item-title-label">{{t('docs-manual-heating-modes-title')}}</span>
            <ng-icon [name]="selectedCategory == 'manual-heating-modes' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'manual-heating-modes') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-manual-heating-modes-title')}}</span>
              <img src="/img/guide/manual-heating-modes.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-manual-heating-modes-1')}} <b>{{t('docs-manual-heating-modes-2')}}</b><br>
                {{t('docs-manual-heating-modes-3')}}<br>
                {{t('docs-manual-heating-modes-4')}}<br><br>
                - {{t('docs-manual-heating-modes-5')}}<br>
                - {{t('docs-manual-heating-modes-6')}}<br>
                - {{t('docs-manual-heating-modes-7')}}<br>
                - {{t('docs-manual-heating-modes-8')}}<br><br>
                {{t('docs-manual-heating-modes-9')}}
              </span>
            </div>
          }

        </div>

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('comfort-1-2')">
            <span class="guide-item-title-label">{{t('docs-comfort-1-2-title')}}</span>
            <ng-icon [name]="selectedCategory == 'comfort-1-2' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'comfort-1-2') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-comfort-1-2-title')}}</span>
              <img src="/img/guide/comfort-1-2.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-comfort-1-2-1')}}<br>
                {{t('docs-comfort-1-2-2')}}
              </span>
            </div>
          }

        </div>

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('heating-schedule')">
            <span class="guide-item-title-label">{{t('docs-heating-schedule-title')}}</span>
            <ng-icon [name]="selectedCategory == 'heating-schedule' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'heating-schedule') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-heating-schedule-title')}}</span>
              <img src="/img/guide/heating-schedule-1.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-heating-schedule-1')}}
              </span>
              <img src="/img/guide/heating-schedule-2.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-heating-schedule-2')}}<br>
                {{t('docs-heating-schedule-3')}} <b>{{t('docs-heating-schedule-4')}}</b>
                <br><br>
                {{t('docs-heating-schedule-5')}}<br>
                {{t('docs-heating-schedule-6')}} <b>{{t('docs-heating-schedule-4')}}</b>
                <br><br>
                {{t('docs-heating-schedule-7')}}
              </span>
            </div>
          }

        </div>

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('timer-mode')">
            <span class="guide-item-title-label">{{t('docs-timer-mode-title')}}</span>
            <ng-icon [name]="selectedCategory == 'timer-mode' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'timer-mode') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-timer-mode-title')}}</span>
              <img src="/img/guide/timer-mode.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-timer-mode-1')}} <b>{{t('docs-timer-mode-2')}}</b>
              </span>
            </div>
          }

        </div>

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('duplicate-day')">
            <span class="guide-item-title-label">{{t('docs-duplicate-day-title')}}</span>
            <ng-icon [name]="selectedCategory == 'duplicate-day' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'duplicate-day') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-duplicate-day-title')}}</span>
              <img src="/img/guide/duplicate-days-1.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-duplicate-day-1')}}<br>
              </span>
              <img src="/img/guide/duplicate-days-2.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-duplicate-day-2')}} <b>{{t('docs-duplicate-day-3')}}</b>
              </span>
            </div>
          }

        </div>

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('using-presets')">
            <span class="guide-item-title-label">{{t('docs-using-presets-title')}}</span>
            <ng-icon [name]="selectedCategory == 'using-presets' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'using-presets') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-using-presets-title')}}</span>
              <img src="/img/guide/using-presets-1.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-using-presets-1')}}<br>
                {{t('docs-using-presets-2')}}<br>
                {{t('docs-using-presets-3')}}
              </span>
              <img src="/img/guide/using-presets-2.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-using-presets-4')}}
              </span>
              <img src="/img/guide/using-presets-3.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-using-presets-5')}} <b>{{t('docs-using-presets-6')}}</b><br>
                {{t('docs-using-presets-7')}}
              </span>
            </div>
          }

        </div>

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('duplicating-to-devices')">
            <span class="guide-item-title-label">{{t('docs-duplicating-to-devices-title')}}</span>
            <ng-icon [name]="selectedCategory == 'duplicating-to-devices' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'duplicating-to-devices') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-duplicating-to-devices-title')}}</span>
              <img src="/img/guide/duplicating-to-devices-1.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-duplicating-to-devices-1')}}<br>
                {{t('docs-duplicating-to-devices-2')}}
              </span>
              <img src="/img/guide/duplicating-to-devices-2.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-duplicating-to-devices-3')}}
              </span>
            </div>
          }

        </div>

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('motion-detection')">
            <span class="guide-item-title-label">{{t('docs-motion-detection-title')}}</span>
            <ng-icon [name]="selectedCategory == 'motion-detection' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'motion-detection') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-motion-detection-title')}}</span>
              <img src="/img/guide/motion-detection-1.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-motion-detection-1')}}<br>
                {{t('docs-motion-detection-2')}}<br>
                {{t('docs-motion-detection-3')}}
              </span>
              <img src="/img/guide/motion-detection-2.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-motion-detection-4')}}
              </span>
            </div>
          }

        </div>

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('vacancy')">
            <span class="guide-item-title-label">{{t('docs-vacancy-title')}}</span>
            <ng-icon [name]="selectedCategory == 'vacancy' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'vacancy') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-vacancy-title')}}</span>
              <img src="/img/guide/vacancy-1.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-vacancy-1')}}<br>
                {{t('docs-vacancy-2')}}<br>
                {{t('docs-vacancy-3')}}
              </span>
              <img src="/img/guide/vacancy-2.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-vacancy-4')}}
              </span>
              <img src="/img/guide/vacancy-3.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-vacancy-5')}}
              </span>
            </div>
          }

        </div>

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('boost')">
            <span class="guide-item-title-label">{{t('docs-boost-title')}}</span>
            <ng-icon [name]="selectedCategory == 'boost' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'boost') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-boost-title')}}</span>
              <img src="/img/guide/boost-1.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-boost-1')}}<br>
                {{t('docs-boost-2')}}<br>
                {{t('docs-boost-3')}}
              </span>
              <img src="/img/guide/boost-2.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-boost-4')}}
              </span>
              <img src="/img/guide/boost-3.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-boost-5')}}
              </span>
            </div>
          }

        </div>

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('lock')">
            <span class="guide-item-title-label">{{t('docs-lock-title')}}</span>
            <ng-icon [name]="selectedCategory == 'lock' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'lock') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-lock-title')}}</span>
              <img src="/img/guide/lock-1.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-lock-1')}}<br>
                {{t('docs-lock-2')}}<br>
                {{t('docs-lock-3')}}
              </span>
              <img src="/img/guide/lock-2.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-lock-4')}}
              </span>
            </div>
          }

        </div>

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('history')">
            <span class="guide-item-title-label">{{t('docs-history-title')}}</span>
            <ng-icon [name]="selectedCategory == 'history' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'history') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-history-title')}}</span>
              <img src="/img/guide/history-1.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-history-1')}}<br>
              </span>
              <img src="/img/guide/history-2.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-history-2')}}<br>
                {{t('docs-history-3')}}<br>
                {{t('docs-history-4')}}<br>
                <b>{{t('docs-history-5')}}</b>
              </span>
              <img src="/img/guide/history-3.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-history-6')}}<br>
                <b>{{t('docs-history-7')}}</b>
              </span>
            </div>
          }

        </div>

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('language')">
            <span class="guide-item-title-label">{{t('docs-language-title')}}</span>
            <ng-icon [name]="selectedCategory == 'language' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'language') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-language-title')}}</span>
              <img src="/img/guide/language.png" class="guide-item-image">
              <span class="guide-item-body">
                {{t('docs-language-1')}}
              </span>
            </div>
          }

        </div>

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('data-sync')">
            <span class="guide-item-title-label">{{t('docs-data-sync-title')}}</span>
            <ng-icon [name]="selectedCategory == 'data-sync' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'data-sync') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-data-sync-title')}}</span>
              <span class="guide-item-body">
                {{t('docs-data-sync-1')}}
              </span>
            </div>
          }

        </div>

        <div class="guide-item-wrapper">
          <div class="guide-item-title-box" (click)="onSelectItem('pwa')">
            <span class="guide-item-title-label">{{t('docs-pwa-title')}}</span>
            <ng-icon [name]="selectedCategory == 'pwa' ? 'matExpandLessOutline' : 'matExpandMoreOutline'" class="guide-item-title-icon"></ng-icon>
          </div>

          @if (selectedCategory == 'pwa') {
            <div class="guide-item-body-wrapper" @fade>
              <span class="guide-item-body-title">{{t('docs-pwa-title')}}</span>
              <span class="guide-item-body">
                {{t('docs-pwa-1')}} <a class="pwa-link" target="_blank" [href]="locale.getCurrentLocale() == 'en' ? 'https://www.bitcot.com/how-to-install-a-pwa-to-your-device/' : 'https://bardimin.com/fr/logiciel/internet-fr/comment-installer-une-progressive-web-app-pwa-sur-votre-appareil/'">{{t('docs-pwa-2')}}</a>
              </span>
            </div>
          }

        </div>

      </div>

    </ng-scrollbar>

    <div class="bottom-left-wrapper">
      <div class="language-picker">
        @switch (locale.getCurrentLocale()) {

          @case ('en') {
            <div class="language-picker-current-language" (click)="onOpenLanguagePicker()">
              <img class="language-picker-flag" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/US.svg"/>
              <span class="language-picker-label">{{ t('english') }}</span>
            </div>
          }
          @case ('fr') {
            <div class="language-picker-current-language" (click)="onOpenLanguagePicker()">
              <img class="language-picker-flag" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/FR.svg"/>
              <span class="language-picker-label">{{ t('french') }}</span>
            </div>
          }

        }

        @if (languagePicker) {
          <div class="language-picker-menu" @fade appClickOutside (clickOutside)="onCloseLanguagePicker()">
            <div class="language-picker-item" (click)="onSetLocale('fr')">
              <img class="language-picker-item-flag" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/FR.svg"/>
              <span class="language-picker-item-label">{{ t('french') }}</span>
            </div>
            <div class="language-picker-item" (click)="onSetLocale('en')">
              <img class="language-picker-item-flag" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/US.svg"/>
              <span class="language-picker-item-label">{{ t('english') }}</span>
            </div>
          </div>
        }

      </div>

      <div class="bottom-bar-links">
        <a class="help-link" [routerLink]="'guide'">{{ t('guide') }}</a>
        <a class="help-link" href="https://github.com/paulchartres/heatlink/issues/new" target="_blank">{{ t('report-a-bug') }}</a>
      </div>

    </div>

    <div class="watermark">
      <span>{{ t('made-with') }}</span>
      <ng-icon class="watermark-heart" name="matFavoriteOutline"></ng-icon>
      <span>{{ t('by') }}</span>
      <a class="watermark-link" href="https://pauldln.fr" target="_blank">CykaDev</a>
    </div>

  </div>

</div>
